<!-- src/mailer/templates/hearing-notification.hbs -->
<h1>Hearing Date Set</h1>
<p>Dear {{recipientRole}},</p>
<p>A hearing date has been set for the case with ID: {{caseId}}.</p>
<p><strong>Hearing Date:</strong> {{hearingDate}}</p>
<p>Please make sure to prepare your documents and be present at the hearing.</p>
<p>Thank you,<br/>E-Court Filing System</p>
