<!-- src/mailer/templates/respondent-notification.hbs -->
<h1>Case Filed Against You</h1>
<p>Dear Respondent,</p>
<p>A case has been filed against you. Please click on the link below to sign up and view the case details:</p>
<a href="{{signupLink}}">Sign Up and View Case</a>
<p>Case ID: {{caseId}}</p>
<p>Thank you,<br/>E-Court Filing System</p>
